@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: purple-600;
    --secondary: purple-100;
    --accent: green-400;
    --background: gray-50;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}